/* Banner Component
font-size:16px;
*/
.banner {
  padding:1em;
  display: flex;
  align-items: flex-end;
  //background-image: linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-color: #840b2a;
  background-size:cover;
  background-position: center right;
}

.logo {
  float:left;
//  flex: 8 1 80%;
  flex: 1 1 75%;
  max-width:320px;
  //margin-right:-4px;
  z-index:100;
}

.logo-pur {
  width: 100%;
  height: auto;
  //vertical-align: middle;
}
.logo-fallback {
  color:#fff;
  font-size:64px;
  font-weight:bold;
  line-height:1.5;
  margin:0;
}
.social {
  float:right;
  flex: 1 0 25%;
  min-width:4em;
  padding-left:.5em;
  text-align: right;
  a.gallery-item {
    background-color:rgba(255,255,255,.7);
    &:hover {
      background-color:rgba(255,255,255,1);
    }
  }
  & .icon {
    //opacity: .70;
    width: 2em;
    height: 2em;
    transition: .5s opacity;
  }
  /* icon vendor color */
  & .icon-facebook {
    fill: $color-facebook;
  }
  & .icon-youtube {
    fill: $color-youtube;
  }
  & .icon-youtube--wide {
    /* 5*2 */
    width: 5em;
    display: none;
  }
}

@media (min-width: 34em) {
  .social {
    & .icon-youtube--small {
      display: none;
    }
    & .icon-youtube--wide {
      display: inline-block;
    }
  }
}
