/* Banner Component
font-size:16px;
*/
.banner {
  padding: 1em;
  display: flex;
  align-items: flex-end;
  & > * {display:inline-block;}
}
.pattern {
  background: linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-color: #840b2a;
}

.logo {
  flex: 8 1 80%;
  max-width: 20em;
  /*
  max-width: 20em;
  position: relative;
  border: 4px solid #000;
  border-radius: .5em;
  background-color: #fff;
  */
  & > svg {
    width: 100%;
    height: auto;
    border: 4px solid #000;
    border-radius: .5em;
    background-color: #fff;
    /*
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    */
  }
}
.social {
  display: inline-block;
  float:right;
  flex: 2 1 20%;
  text-align: right;
  li {
    display: inline-block;
    padding: .25em;
  }
  margin: -0.25em;

  & a {
    display: inline-block;
    padding: 3px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 4px;
    &:hover .icon {
      opacity: 1;
    }
  }
  & .icon {
    opacity: .70;
    width: 2em;
    height: 2em;
    transition: .5s opacity;
  }
  /* icon vendor color */
  & .icon-facebook {
    fill: $color-facebook;
  }
  & .icon-youtube {
    fill: $color-youtube;
  }
  & .icon-youtube--wide {
    /* 5*2 */
    width: 5em;
    display: none;
  }
}

@media (min-width: 32em) {
  .social {
    & .icon-youtube--small {
      display: none;
    }
    & .icon-youtube--wide {
      display: inline-block;
    }
  }
}
