/* Banner Component
font-size:16px;
*/
.banner {
  padding: 1em;
  display: flex;
  align-items: flex-end;
  & * {
    display: inline-block;
  }
}

.pattern {
  background: linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-color: #840b2a;
}

.banner svg {
  padding: .25em;
  border: .25em solid #000;
  border-radius: .5em;
  background-color: #fff;
}

.logo {
  flex: 8 1 80%;
  max-width: 21em;
}

.logo-pur {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.logo-fallback {
  color:#fff;
  font-size:64px;
  font-weight:bold;
  line-height:1.5;
  margin:0;
}
.social {
  float: right;
  flex: 2 1 20%;
  text-align: right;
  li {
    padding: .25em;
  }
  margin: -0.25em;
  margin-left: 0;

  & a:hover .icon {
      opacity: 1;
    }
  & .icon {
    opacity: .70;
    width: 2em+1em;
    height: 2em+1em;
    transition: .5s opacity;
  }
  /* icon vendor color */
  & .icon-facebook {
    fill: $color-facebook;
  }
  & .icon-youtube {
    fill: $color-youtube;
  }
  & .icon-youtube--wide {
    /* 5*2 */
    width: 5em+1em;
    display: none;
  }
}

@media (min-width: 34em) {
  .social {
    & .icon-youtube--small {
      display: none;
    }
    & .icon-youtube--wide {
      display: inline-block;
    }
  }
}
