/* base page layout */
@import "../config";
@import "../components/normalize";

/* Base Styling */
html {
  background-color: base($colors);
  @include fluid-type(font-size, 20rem, 60rem, (12/$base-fontsize)*1rem, 1rem);
}

body {
  //font-family: $sansSerifFont;
  position: relative;
  //margin: 0;
  padding: 0;
  color: #000;
  color: text($colors);
  background-color: inherit;
}

.icon {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 1em;
  height: 1em; //lineheight
  fill: currentColor;
}
/*Typography*/
p {
  margin: $leading 0;
  .icon {
    height:1.5em;
    margin-right:.25em;
  }
}
.hug {
  margin-top:0 !important;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $serifFont;
    font-wight:bold;

    color: hilight($colors);
    // Change heading typefaces here
    margin: $leading 0;
    line-height: $leading;
    .icon {
      height:$leading;
      margin-right:.25em;
    }
  }

  h1 {
    font-size: 3 * $scale * 1rem;
    line-height: 3 * $leading;
    .icon {
      height: 3 * $leading;
    }
  }

  h2,.big {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    .icon {
      height:2 * $leading;
    }
  }

  h3 {
    font-size: $scale * 1rem;
  }
  h4,h5,h6 {
    font-size: $scale / 2 * 1rem;
  }

article {  }
.wrapper-narrow {
  margin:0 auto;
  padding: 0 1em;
  max-width:60em;
}
.text {
  margin-top:1em;
  margin-top: 1*$leading;
  & > * {
    margin:0;
  }
  & > *+* {
    margin-top:1em;
    margin-top:$leading;
  }
}
.hero {
  padding: 5*$leading 0;
  color: #fff;
  background-color: #0b1284;
  text-align: center;
  & * {
    margin-top:0;
  }
  & *+* {
    margin-top:$leading;
  }
}
.hero-wrapper {
}
.hero-title,.hero-text {
  color: inherit;
}
.hero-image {
  position:relative;
  margin-bottom: -5*$leading;
  & > img {
    position:relative;
    z-index:10;
    width:30em;
    max-width:100%;
    border: 1em solid divider($colors);
    border-radius:.5em;
  }
  &:before {
    content: "";
    position:absolute;
    z-index:0;
    left:0;
    right:0;
    top:50%;
    bottom:0;
    background-color: base($colors);
  }
}

@import "helper";