/* base page layout */
@import "../components/normalize";

/* Base Styling */
html {
  background-color: base($colors);
  //@include fluid-type(font-size, 20em, 60em, (12/16)*1rem, 1rem);
  @media screen and (max-width: 28em) {
    font-size: 75%;
  }
@media screen and (min-width: 28em) {
  font-size: 80%;
}
  @media screen and (min-width: 36em) {
    font-size: 85%;
  }
  @media screen and (min-width: 44em) {
    font-size: 90%;
  }
  @media screen and (min-width: 52em) {
    font-size: 95%;
  }
  @media screen and (min-width: 60em) {
    font-size: 100%;
  }



}

body {
  //font-family: $sansSerifFont;
  position: relative;
  //margin: 0;
  padding: 0;
  color: #000;
  color: text($colors);
  background-color: inherit;
}

.icon {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 1em;
  height: 1em; //lineheight
  fill: currentColor;
}
/*Typography*/
p {
  margin: $leading 0;
  .icon {
    height:1.5em;
    margin-right:.25em;
  }
}
.hug {
  margin-top:0 !important;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $serifFont;
    font-weight:bold;

    color: hilight($colors);
    // Change heading typefaces here
    margin: $leading 0;
    line-height: $leading;
    .icon {
      height:$leading;
      margin-right:.25em;
    }
  }

  h1 {
    font-size: 3 * $scale * 1rem;
    line-height: 3 * $leading;
    .icon {
      height: 3 * $leading;
    }
  }

  h2,.big {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    .icon {
      height:2 * $leading;
    }
  }

  h3 {
    font-size: $scale * 1rem;
  }
  h4,h5,h6 {
    font-size: $scale / 2 * 1rem;
  }

article {
  margin-bottom: 3*$leading;
}
section {
  padding:$leading 1em;
}
.wrapper-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width:60em;
}
.text {
  & > * {
    margin-top:0;
    margin-bottom:0;
  }
  & > *+* {
    margin-top:1em;
    margin-top:$leading;
  }
}
.hero {
  padding: 5*$leading 0;
  color: #fff;
  background-color: #0b1284;
  text-align: center;
  & * {
    margin-top:0;
  }
  & *+* {
    margin-top:$leading;
  }
}
.hero-wrapper {
}
.hero-title,.hero-text {
  color: inherit;
}
.hero-image {
  position:relative;
  margin-bottom: -5*$leading;
  & > img {
    position:relative;
    z-index:10;
    border: 1em solid divider($colors);
    border-radius:.5em;
  }
  &:before {
    content: "";
    position:absolute;
    z-index:0;
    left:0;
    right:0;
    top:50%;
    bottom:0;
    background-color: base($colors);
  }
}
.gallery {
  & > * {
  }
  & * {
    margin:0;
  }
}
.gallery-item {
  display:inline-block;
  box-sizing: content-box;
  padding:0.5em;
  @include card(2);
}
.image {
  max-width:500px;
}
.image-desc {
  padding: 0 .25em;
}
@import "helper";