@import "../config";

/* simplelist */
ul,li {
  list-style: none outside none;
  margin:0;
  padding:0;
  border:0;
  max-width:100%;
}
/* gridlist */
.gl {
  & li {
    display:inline-block;
    vertical-align:top;
  }
}
/* table */
.tl {
  display:table;
}
.tr {
  display:table-row;
}
.ti {
  display:table-cell;
  vertical-align: top;
}
.ti + .ti {
  padding-left: 8px;
}
.ti-mid,.tr-mid > * {
  vertical-align:middle;
}
/* Block Wrapper*/
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
img.center {
  display:block;
}
.text-small {
  font-size:80%;
}
.text-left {
text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}
.text-deco {
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.table {
  > h2 {
    margin:0;
  }
  > h2 + p {
    margin-top:0;
  }
  > p {
    margin-left:2em;
  }
}