@import "../config";

/* simplelist */
.sl,.sl li {
  list-style: none outside none;
  margin:0;
  padding:0;
  border:0;
}
/* table */
.tl {
  display:table;
}
.ti {
  display:table-cell;
  vertical-align: top;
}
.ti + .ti {
  padding-left: 8px;
}
.ti-mid {
  vertical-align:middle;
}
/* Block Wrapper*/
.inline {
  display: inline-block;
}
.center {
  margin-left:auto;
  margin-right:auto;
}