@import "../config";

/* simplelist */
.sl,.sl li,
.gl,.gl li{
  list-style: none outside none;
  margin:0;
  padding:0;
  border:0;
}
/* gridlist */
.gl {
  & li {
    display:inline-block;
  }
}
/* table */
.tl {
  display:table;
}
.ti {
  display:table-cell;
  vertical-align: top;
}
.ti + .ti {
  padding-left: 8px;
}
.ti-mid {
  vertical-align:middle;
}
/* Block Wrapper*/
.inline {
  display: inline-block;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
img.center {
  display:block;
}
.text-small {
  font-size:80%;
}
.text-left {
text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}
.text-deco {
}
