/* navbar component
fontsize:16px
*/
$color-main: #5c940d;
$color-main-hover: darken($color-main, 25%);
$color-main-link: contrast($color-main);
//$color-main-link-hover: color-contrast($color-main-hover);

$color-menu: $color-brand; //#e07700;
$color-menu-hover: darken($color-menu, 25%);
$color-menu-link: contrast($color-menu);
//$color-menu-link-hover: color-contrast($color-menu-hover);

$color-btn: #e0e0e0; //#F0DD44;//color-contrast($color-menu,20%);//#f08c00;
$color-btn-hover: darken($color-btn, 25%);
$color-btn-link: contrast($color-btn);
$color-btn-link-hover: contrast($color-btn-hover);

$color-hidden: $color-btn;
$color-hidden-hover: $color-btn-hover;
$color-hidden-link: $color-btn-link;
$color-hidden-link-hover: $color-btn-link-hover;

/* font-size: 16px */

.nav {
  display:block;

  position: relative;
  //line-height: 1.5;
  * {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-right: -1px;
  }
  & li, & a {
    padding:.5em;
    padding:.5rem;
  }
  & a {
    color:inherit;
    transition: .5s background-color;
    &:hover {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.25);
    }
    &:hover, &:focus, &:visited, &active {
      color:inherit;
    }

  }
  & .hidden {
    /* only hide it */
    position:absolute;
    left:0;
    z-index:-1;
    visibility:hidden;
  }

}
.nav, .nav-menu {
  background-color: $color-menu;
  color: $color-menu-link;
}

.nav-main {
  background-color: $color-main;
  color: $color-main-link;
  font-weight:bold;
  & li {
    padding: 0;
  }
  & a {
    padding: .5em 1em;
  }

}

.nav-menu {
  margin-right: .5rem;
}

.nav-hidden {
  position: absolute;
  right:0;
  top:100%;

  background-color: $color-hidden;
  color: $color-hidden-link;
  text-align: right;
  & li , & a {
    display:block;
  }
}

.nav-button {

  flex: 0 0 auto;

  padding: .5rem;
  padding-left: 1.25rem;
  outline: 0;
  border: 0;
  font-size: 80%;
  font-weight: bold;

  color: $color-btn-link;
  background-color: $color-btn;
  cursor: pointer;
  overflow: visible;
  & .icon {
    width: 2em;
    height: 1.5em;
  }
  & .icon-close,
  &.active .icon-open {
    display: none;
  }
  &.active .icon-close {
    display: inline-block;
  }
  &::after {
    content: attr(count);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border: 3px solid $color-menu;
    border-radius: 50%;
    background-color: $color-menu-link;
    color: $color-menu;
  }
  &:hover {
    background-color: $color-btn-hover;
  }
  &:hover::after {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

/* if flexbox and javascript-component supported use flexbox */
.ext {
  & .nav, & .nav-main, & .nav-menu {
    display:flex;
    align-items: center;
  }
  & .nav,& .nav-main {
    align-items: stretch;
  }
  & .nav-main, & .nav-button,
  .nav-main li, .nav-menu li {
    flex: 0 0 auto;
  }
  & .nav-main li {
    display:flex;
    align-items:stretch;
  }
  & .nav-main a {
    display:inline-flex;
    align-items:center;
  }

  & .nav-menu {
    flex: 1 1 auto;
    //justify-content: flex-end;
    overflow: hidden;
    & .toright {
      margin-left:auto;
      margin-right:0;

    }
  }









}