/* navbar component
fontsize:16px
*/
$color-main: #5c940d;
$color-main-hover: darken($color-main, 5%);
$color-main-link: color-contrast($color-main);
$color-main-link-hover: color-contrast($color-main-hover);

$color-menu: $color-brand; //#e07700;
$color-menu-hover: darken($color-menu, 5%);
$color-menu-link: color-contrast($color-menu);
$color-menu-link-hover: color-contrast($color-menu-hover);

$color-btn: darken(#fff,10%); //#F0DD44;//color-contrast($color-menu,20%);//#f08c00;
$color-btn-hover: darken($color-btn, 5%);
$color-btn-link: color-contrast($color-btn);
$color-btn-link-hover: color-contrast($color-btn-hover);

$color-hidden: $color-btn;
$color-hidden-hover: darken($color-hidden, 5%);
$color-hidden-link: color-contrast($color-hidden);
$color-hidden-link-hover: color-contrast($color-hidden-hover);

/* font-size: 16px */

.nav {
  display:block;

  position: relative;
  background: $color-menu;
  line-height: 1.5;
  * {
    display:inline-block;
    *display:inline;
    *zoom:1;
  }
  & > * {
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width:1px;
    margin-right:-1px;
  }

}
.ext .nav {
  display: flex;
  align-items: stretch;
  &:before {
    display:none;
  }
}

.nav a, .nav-button {
  //color:#ffffff;
  text-decoration: none;
  //transition: all .5s linear;
}

.nav a:hover, .nav-button:hover {
  //color:#ffffff;
  text-decoration: none;
}

.nav-mainlink {
  //display:inline-block;

  position: relative;
  padding: .5em 1.5em;
  font-weight: bold;
  background-color: $color-main;
  color: $color-main-link;
}
.ext .nav-mainlink {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: 50%;
}

.nav-mainlink:hover {
  color: $color-main-link-hover;
  background-color: $color-main-hover;
}

$fontsize:$baseFontSize*0.8;

.nav-button {
  flex: 0 0 auto;

  position: relative;
  padding: 0 0 0 px2em($baseFontSize+4,$fontsize);
  outline: 0;
  border: 0;
  font-size: px2em($fontsize);
  font-weight: bold;

  background: $color-btn;
  color: $color-btn-link;
  cursor: pointer;
  overflow: visible;
  & .icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0 px2em(4,$fontsize);;
  }
  & .icon-close {
    display: none;
  }
  &.active .icon-open {
    display: none;
  }
  &.active .icon-close {
    display: inline-block;
  }
}

.nav-button.hidden {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
}

.nav-button::after {
  content: attr(count);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  display: inline-flex;
  font-size: 100%;
  line-height: 1;
  align-items: center;
  justify-content: center;

  width: px2em(2*$baseFontSize,$fontsize);
  height: px2em(2*$baseFontSize,$fontsize);
  border: 3px solid $color-menu;
  border-radius: 50%;
  background: $color-menu-link;
  color: $color-menu;
}

.nav-button:hover {
  color: $color-btn-link-hover;
  background: $color-btn-hover;
}

.nav-button:hover::after {
  //order-color: $color-btn-hover;
  transform: translate(-50%, -50%) scale(1.1);
}

.nav-links {
  //display:inline-block;
  text-align:right;
  position: relative;
  margin-right: .5rem;
}
.ext .nav-links {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.nav-links a {
  //display:inline-block;

  padding: 0 .5em;
  color: $color-menu-link;
}
.ext .nav-links a {
  display: flex;
  align-items: center;

  flex: 0 0 auto;

}


.nav-links a:hover {
  background-color: $color-menu-hover;
  color: $color-menu-link-hover;
}

.nav-links li {
  //display:inline-block;

  padding: 0 .5em;
}
.ext .nav-links li {
  display: flex;
  align-items: stretch;

  flex: 0 0 auto;
}

.nav-links li.hidden {
  display: none;
}

.nav-hidden-links {
  position: absolute;
  background: $color-hidden;
  right: 0;
  top: 100%;
}

.nav-hidden-links a {
  display: block;
  text-align: right;
  color: $color-hidden-link;
  padding: .5em 1.5em .5em 1em;
}

.nav-hidden-links a:hover {
  color: $color-hidden-link-hover;
  background-color: $color-hidden-hover;
  padding: .5em 1.5em .5em 1em;
}

.nav-hidden-links.hidden {
  display: none;
}

.nav-hidden-links li {
  display: block;
  padding: .5em 0;
}

.nav-hidden-links li.hidden {
  display: none;
}
