/* navbar component
fontsize:16px
*/
$color-main: #5c940d;
$color-main-hover: darken($color-main, 10%);
$color-main-link: color-contrast($color-main);
$color-main-link-hover: color-contrast($color-main-hover);

$color-menu: $color-brand; //#e07700;
$color-menu-hover: darken($color-menu, 25%);
$color-menu-link: color-contrast($color-menu);
$color-menu-link-hover: color-contrast($color-menu-hover);

$color-btn: darken(#fff, 10%); //#F0DD44;//color-contrast($color-menu,20%);//#f08c00;
$color-btn-hover: darken($color-btn, 25%);
$color-btn-link: color-contrast($color-btn);
$color-btn-link-hover: color-contrast($color-btn-hover);

$color-hidden: $color-btn;
$color-hidden-hover: darken($color-hidden, 25%);
$color-hidden-link: color-contrast($color-hidden);
$color-hidden-link-hover: color-contrast($color-hidden-hover);

/* font-size: 16px */

.nav {
  display:block;

  position: relative;
  background: $color-menu;
  //line-height: 1.5;
  * {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  & > * {
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-right: -1px;
  }
  & li {
    padding:.5em;
  }
}

.nav-a {
  padding:.5em;
  color: $color-menu-link;
  text-decoration: none;
  transition: .5s background-color;
}

.nav-a:hover {
  //color:inherit;
  background-color: #840b2a;
  background-color: rgba(0, 0, 0, 0.25);
}

.nav-mainlink {
  background-color: $color-main;
  padding: .5em 1.5em;
  font-weight: bold;
  &:hover {
    background-color: $color-main-hover;
  }
}

$fontsize: $base-fontsize*0.8;
.nav-button {
  flex: 0 0 auto;

  padding-left: 1.25rem;
  outline: 0;
  border: 0;
  font-size: 80%;
  font-weight: bold;

  color: $color-btn-link;
  background-color: $color-btn;
  cursor: pointer;
  overflow: visible;
  & .icon {
    width: 2em;
    height: 1.5em;
    //margin: 0 px2em(4,$fontsize);;
  }
  & .icon-close,
  &.active .icon-open {
    display: none;
  }
  &.active .icon-close {
    display: inline-block;
  }
  &::after {
    content: attr(count);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border: 3px solid $color-menu;
    border-radius: 50%;
    background-color: $color-menu-link;
    color: $color-menu;
  }
  &:hover {
    //  color: $color-btn-link-hover;
    background-color: $color-btn-hover;
  }
  &:hover::after {
    //order-color: $color-btn-hover;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.nav-links {
  margin-right: .5rem;
}

.nav-hidden-links {
  position: absolute;
  background: $color-hidden;
  right: 0;
  top: 100%;
}

.nav-hidden-links a {
  display: block;
  text-align: right;
  color: $color-hidden-link;
  padding: .5em;
}
.nav-hidden-links li {
  display: block;
}
.nav-links li.hidden,.nav-button.hidden {
  /* only hide it */
  position:absolute;
  left:0;
  z-index:-1;
  visibility:hidden;
}
.nav-hidden-links.hidden,.nav-hidden-links li.hidden {
  display:none;
}
/*extending navbar with flexbox*/
.ext {
  .nav, .nav-mainlink, .nav-links, .nav-links li {
    display: flex;
    align-items: center;
  }
  .nav-mainlink, .nav-links li {
    flex: 0 0 auto;
  }
  .nav-links li:first-child {
    margin-right:auto;
  }
  .nav {
    align-items: stretch;
    &:before {
      display: none;
    }
  }
  .nav-mainlink {
    max-width: 50%;
  }
  .nav-links {
    overflow: hidden;
    justify-content: flex-end;
    flex: 1 1 auto;
  }
}
