/* Main Config File */
@import 'lib/functions';
@import 'lib/mixin';
@import 'lib/theme';

$color-page: #fefefe;
$colors: getColors($color-page);
$color-extra: #FF8A00;
$color-hover: #F10087;

//$color-link: #67a281;
$color-link: #2164f4;

$color-link-hover: $color-hover;

//$color-link-visited: #3c624b;
$color-link-visited: #2164f4;




$color-brand: #F08800; //#e07700;
$color-codepen: #000;
$color-facebook: #3b5998;
$color-github: #333;
$color-google: #dc4e41;
$color-twitter: #55acee;
$color-youtube: #cd201f;
$color-olli: #6e3c85;

$color-olli-blue: #204060;

$monospaceFont: Consolas, monaco, monospace, monospace;
$sansSerifFont: Verdana, Geneva, sans-serif;
$serifFont: Georgia, Times, Times New Roman, serif;

/*normalize*/
$base-boxsizing: border-box !default;
$base-font: $sansSerifFont;
$base-fontsize: 16;
$base-lineheight: 1.5;
$base-monospace: $monospaceFont;

$leading: $base-lineheight * 1rem;
$leading-em: $base-lineheight * 1em;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414;

$lego: (
        padding-x: 1rem,
        padding-y: 1rem,
        padding-outer-x: .5rem,
        padding-outer-y: $leading
);
$hero-height: 8*$leading;