/* Main Config File */
@import 'lib/functions';
@import 'lib/mixin';
@import 'lib/theme';

$color-page: #fefef8;

$color-brand: #F08800; //#e07700;
$color-brand-0: text-contrast($color-page,$color_brand);
$color-brand-1: text-contrast($color-page,adjust_hue($color_brand,90));
$color-brand-2: text-contrast($color-page,adjust_hue($color_brand,180));
$color-brand-3: text-contrast($color-page,adjust_hue($color_brand,270));


$colors: getColors($color-page);
$color-link: $color-brand-2;


$color-codepen: #000;
$color-facebook: #3b5998;
$color-github: #333;
$color-google: #dc4e41;
$color-twitter: #55acee;
$color-youtube: #cd201f;
$color-olli: #6e3c85;

$color-olli-blue: #204060;

$monospaceFont: Consolas, monaco, monospace, monospace;
$sansSerifFont: Verdana, Geneva, sans-serif;
$serifFont: Georgia, Times, Times New Roman, serif;

/*normalize*/
$base-boxsizing: border-box !default;
$base-font: $sansSerifFont;
$base-fontsize: 16;
$base-lineheight: 1.5;
$base-monospace: $monospaceFont;

$leading: $base-lineheight * 1rem;
$leading-em: $base-lineheight * 1em;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414;

$lego: (
        padding-x: 1rem,
        padding-y: 1rem,
        padding-outer-x: .5rem,
        padding-outer-y: $leading
);
$hero-height: 8*$leading;