@import "config";

/* critical css */
@import 'site/base';
//@import 'site/banner';
//@import 'site/navbar';
/* */
@mixin strokeText($color,$inline:false)
{
  //text-shadow: 1px 1px 0 #800;
  $color2 : $color;
  @if $inline
  {
    $color2:$inline;
  }

  text-shadow:   1px 1px 0px $color2,
  -1px -1px 0px $color,
  -1px 0px 0px $color,
  -1px 1px 0px $color,
  0px -1px 0px $color,
  0px 1px 0px $color,
  1px -1px 0px $color,
  1px 0px 0px $color;
}

body {
  background-size: cover;
  background-position: center right;
  //background-repeat: no-repeat;
  background-attachment: fixed;
  //background-image: url(images/banner.jpg);
  background-color:#000;
  color:#fff;
}
.logo {
  display:inline-block;
  width: 30em;
  max-width:100%;
  vertical-align:middle;
}
.logo-pur {
  width:100%;
  height:auto;
}
.logo-fallback {
  color:#fff;
  font-size:64px;
  font-weight:bold;
  line-height:1.5;
  margin:0;
}

.stroke {
  color:#FFF;
  letter-spacing: 1px;
  @include strokeText(#000);
  a {
    color: #0090ff;
  }
  a:hover {
    color: #00aaff;
  }

}
/* none critical css
@import 'site/footer';
/* */

.nc {display:none;opacity:0;transition: opacity 1s linear;}